@model TheGame.Models.LostModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>You Just Lost the Game As A Service</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='@Url.Content("~/Content/thegame.css")' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/favicon.ico")" />
    
    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function s(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},r=document,f=window,e="script",o=r.createElement(e),i,u;for(o.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",r.getElementsByTagName(e)[0].parentNode.appendChild(o),t.cookie=r.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)s("track"+i.pop());return config.disableExceptionTracking||(i="onerror",s("_"+i),u=f[i],f[i]=function(config,r,f,e,o){var s=u&&u(config,r,f,e,o);return s!==!0&&t["_"+i](config,r,f,e,o),s}),t
        }({
            instrumentationKey:"ae46b9eb-cb42-4a03-ac26-b4b23e1bdf34"
        });

        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
    <body>
        <div id="you">
            <a id="totally" href="https://github.com/justinmcunn/thegame">
                <img id="and-utterly" style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
            </a>
            <div id="lost">
                <div id="the">
                    <div id="game">
                        @if (Model != null)
                        {
                            if (!String.IsNullOrWhiteSpace(Model.Name))
                            {
                                <h2>@Model.Name,</h2>
                            }
                            <h1>You lost the game.</h1>
                            if (!String.IsNullOrWhiteSpace(Model.Name))
                            {
                                <h2>-@Model.From</h2>
                            }
                        }
                        else
                        {
                            <h1>You lost the game.</h1>
                        }
                    </div>
                </div>
            </div>
            <a id="shoutout" href="http://www.giphy.com">
                <img id="yolo" src="@Url.Content("~/Content/giphy.png")" title="All Images courtesy of Giphy">
            </a>
        </div>
        @if (ViewBag.LaughingAtYourLossImage != null)
        {
            <img id="lol" src="@ViewBag.LaughingAtYourLossImage" />
        }
    </body>
</html>
